# Welcome to Python 3.7

In [1]:
#Starting with Python Numbers

# Python Number

In [2]:
"""
Three types:
 int
 float
 complex
"""

print("Numbers")

Numbers

# Integers int()

int is a whole number, positive or negative without decimals, of unlimited length

In [5]:
x = 3
y = -6
z = 8777677867

print(type(x),x)
print(type(y),y)
print(type(z),z)

<class 'int'> 3
<class 'int'> -6
<class 'int'> 8777677867

In [6]:
# Multiple assignment of variable to sinlgle numbers

x = z = y = 3

print(z)
print(type(x))

3
<class 'int'>

# FLOATING POINT float()

floating point number is a positive or negative, containing one or more decimals
Float can also be scientific numbers with an "e" to indicate the power of 10.

In [8]:
python = 3.7

jython = -2.3

print(type(python), python)
print(type(jython), jython)

<class 'float'> 3.7
<class 'float'> -2.3

In [9]:
d = 56e7
c = -34.23e99

print(type(d),d)
print(type(c),c)

<class 'float'> 560000000.0
<class 'float'> -3.423e+100

# COMPLEX complex()

Complex numbers are writte with a "j" as the imaginary part

In [10]:
g = 4+2j

print(type(g),g)

<class 'complex'> (4+2j)

In [12]:
h = -5+2j

print(type(h),h)

<class 'complex'> (-5+2j)

# RANDOM NUMBER

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers

In [13]:
import random

print(random.randrange(1,10))

8

In [14]:
print(random.randrange(1,10))

5

In [15]:
#everytime random function give any random number

print(random.randrange(1,10))

3

# Type conversion in numbers

It convert from one type to another with the int(), float(), and complex() methods

Note: TypeError: can't convert complex to int

In [17]:
# type conversion between numbers

x = 5
y = 3.7
z = 1j

#int to float
a = float(x)

#float to complex
b = complex(y)

#complex to int
c = int(y)

print(x,a)
print(y,b)
print(z,y)

5 5.0
3.7 (3.7+0j)
1j 3.7

# Casting

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal, or a string literal.

float() - constructs a float number from an integer literal, a float literal or a string literal.

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [21]:
x = int(3.50)

# 3.50 floating number will cast into 3 beacause of int() function

print(x)
print(type(x))

#otherwise

print(type(3.50))

3
<class 'int'>
<class 'float'>

In [22]:
y = float(7)

# 7 integer number will cast into 7.0 because of float() function

print(y)
print(type(y))

#otherwise

print(type(7))

7.0
<class 'float'>
<class 'int'>

In [24]:
s = str(2)

# 2 integer number will cast into '2' because of str() function

print(s)
print(type(s))

#otherwise

print(type(2))

2
<class 'str'>
<class 'int'>

# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'Python' is the same as "Python"

In [25]:
print('Python')
print("Python")

Python
Python

In [26]:
# assingning String to a variable

a = "Parvinder"
print(a)

Parvinder

In [27]:
# Multiline Strings

s = """Python is easy to code.
It has various libararies and framework.
It is an open-source programming language.
"""

print(s)
print(type(s))

Python is easy to code.
It has various libararies and framework.
It is an open-source programming language.

<class 'str'>

# Strings are Arrays

Strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [29]:
# indexing of strings
p = "Hello, Python!"

print(p[0])
print(p[4])
print(p[8])

H
o
y

In [30]:
# Looping through strings
for i in "Python":
    print(i)

P
y
t
h
o
n

In [31]:
#String Length

# len()

k = "Python"
print(len(k))

6

In [32]:
# Checking string is present another string.

# in

txt = "Python is fantastic language"

print('is' in txt)

True

In [33]:
# Checking if not present

# not in

txt = "Python is open-source language"

print("an" not in txt)

False

# String Slicing

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [34]:
x = "Python String"

print(x[1:4]) #return string starting from index 1 upto index 4

yth

In [35]:
print(x[:]) #return whole string

Python String

In [40]:
print(x[:5]) #return upto index 5

Pytho

In [41]:
print(x[2:]) #return from index 2 till end

thon String

# Negative Indexing

Use negative indeing to start the slice from the end of the string

In [43]:
b = "Hello, World!"
print(b[-5:-2]) # negative indexing start from right to left and from -1 as first index not 0

orl

In [44]:
p = "Python"
print(p[-1])

n

# Modify String

Python has a set of built-in method that you can use on strings

In [46]:
# Upper case 

# return the string in upper case

z = "Python"
print(z.upper())

PYTHON

In [47]:
txt = "Python strings has many built-in function"
print(txt.upper())

PYTHON STRINGS HAS MANY BUILT-IN FUNCTION

In [49]:
# Lower case

# return the string in lower case

x = "HTTP"
print(x.lower())

http

In [51]:
txt = "HYPER TEXT MARKUP LANGUAGE"
print(txt.lower())

hyper text markup language

In [52]:
# Removing Whitespaces

# strip() function
# it removes any whitespace from the beginning or the end

p = "   Python   "

# without strip
print(p)

# with strip
print(p.strip())

   Python
Python

In [54]:
#  Replace String

# replace() function
# it took two element one which has to be replace, another one as new element in the position of replacable element

j = "Jython"
print(j.replace('J','P'))

Python

In [55]:
# Split String

# split() function
# it will split the string into substrings
# this function took one element from where you have to split 

g = "Great Work"
print(g.split(" "))

['Great', 'Work']

# String Concatenation, Format

In [56]:
# Concatenation of strings

# adding u different string into one string

p = "Python"
i = "is"
e = "easy"

txt = p + i + e
print(txt)

Pythoniseasy

In [57]:
# by default it will not add any whitespace in it

# with the help of " ", it will add whitespace and seperate them

txt = p + " " + i + " " + e
print(txt)

Python is easy

In [59]:
j = "jython"
p = "python"

j = j + " " + p
print(j)

jython python

In [60]:
# String Format

age = 22
txt = "My name is Parvinder, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

we can't add an int to a string

In [62]:
age = 22 
txt = "My name is Parvinder, I am " + str(age)
print(txt)

My name is Parvinder, I am 22

In [63]:
# with format function

# format()

# The format() method takes unlimited number of arguments, and are placed into the respective placeholders

age = 22
txt = "My name is Parvinder, and I am {}"    # {} used by format() to identify whre it has to be placed 
print(txt.format(age))

My name is Parvinder, and I am 22

In [65]:
# multiple format index

quantity = 3
itemno = 34
price = 56.67

myorder = "I want {} pieces of item {} for {} dollars."

print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 34 for 56.67 dollars.

In [66]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders

quantity = 3
itemno = 567
price = 49.95

myorder = "I want to pay {2} dollars for {0} pieces of item {1}."

print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python Escape Characters

In [70]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes

txt = "Python is an "Open Source" language."
print(txt)

SyntaxError: invalid syntax (2013061750.py, line 3)

In [71]:
# To fix this use escape character \"

txt = "Python is an \"Open Source\" language."

print(txt)

Python is an "Open Source" language.

In [72]:
# \t for Tab

print("Python \t Programming")

Python 	 Programming

In [73]:
# \n for new line

print(" Python \n JAVA \n C++")

 Python
 JAVA
 C++

In [74]:
# \\ for backslash

print("Python is free\\easy")

Python is free\easy

In [75]:
# \r for Carriage return
# \' for Single Quote
# \f for Form Feed
# \ooo for Octal value
# \xhh for Hex value

# Another String Methods

In [78]:
# capitalize()
# convert the first character to upper case

p = 'python'
print(p.capitalize())

Python

In [79]:
# count()
# Return the number of times a specified value occurs in a String

txt = "Python is a programming language"
print(txt.count('n'))

3

In [80]:
# index()
# Return the index position where it was found

p = "Python"
print(p.index('t'))

2

In [83]:
# isalnum()
# Return True if all character in the string are alphanumeric

sen = "Pinda123"
print(sen.isalnum())

True

In [85]:
# join method
# join all items in a tuple into a string, using any character as separator

myTuple = ("Parvinder", "Singh", "Rana")

print(" ".join(myTuple))

Parvinder Singh Rana

In [86]:
# swapcase()
# Swaps cases, lower case becomes upper case and vice versa

p = "Python Is Fun To Code"
print(p.swapcase())

pYTHON iS fUN tO cODE

# Other String Functions

In [87]:
"""
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
"""

print("Practice programming for enhacing your codding")

Practice programming for enhacing your codding